.product-form {
  transform: translateY(25px);
  width: 20rem;
  max-width: 90%;
  margin: auto;
  border: none;
  border-radius: 5px;
  padding: 20px;
  background-color: #9469ee;
}

form>h2 {
  text-align: center;
  color: #fff;
}

.form-control {
  margin: 1rem 0;
}

label {
  color: #fff;
  /* color: #3e00a1; */
  font-weight: 600;
}

.form-control label,
.form-control input,
textarea {
  display: block;
  width: 100%;
}

.form-control input,
textarea {
  height: 2rem;
  border: 1px solid #dbc441;
  font: inherit;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control input:focus,
textarea:focus {
  outline: #3e00a1 solid 2px;
}



textarea {
  height: 10rem;
}

.form-control .invalid+input,
.form-control .invalid+textarea {
  border: 2px solid red;
}

.form-control .invalid {
  color: red
}

.error-message {
  height: 1em;
  width: auto;
  text-align: center;
  color: red;
}