main {
  padding: 20px;
}

button {
  margin-top: 10px;
  height: 2rem;
  width: 8rem;
  font: inherit;
  border: 1px solid #3e00a1;
  color: #3e00a1;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 500ms;
  /* transform: translateY(30px); */
}
button:hover,
button:active {
  background: #3e00a1;
  color: #fff;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 20px;
  row-gap: 20px;
}
.card {
  background-color: yellow;
  position: relative;
  padding: 10px;
  height: auto;
  max-width: 18rem;
  border: none;
  line-height: 30px;
  flex: 1;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(29, 26, 26);
}

.card_header h1 {
  text-align: center;
  color: #3e00a1;
}

.card_image {
  margin-top: 5px;
  text-align: center;
}

.card_content .product_price,
.card_content .product_description {
  text-align: center;
  color: #3e00a1;
}
